body {
  margin: 0;
  background-color: #000000;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

#image {
  width: 100%;
  height: auto;
}

#img-div {
  position: relative;
  text-align: center;
  color: #ffffff;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  margin: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#img-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#tribute-info {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#tribute-discography {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#daft-punk {
  width: 1000px;
  width: 1000px;
}

.album-cover {
  width: 600px;
  height: 600px;
}

@media (max-width: 1440px) {
  #daft-punk {
    width: 1000px;
    width: 1000px;
  }
  .album-cover {
    width: 460px;
    height: 460px;
  }
}

@media (max-width: 1024px) {
  #daft-punk {
    width: 800px;
    width: 800px;
  }

  .album-cover {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 768px) {
  #daft-punk {
    width: 400px;
    height: 400px;
  }

  .album-cover {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  #tribute-info {
    display: grid;
    grid-template-columns: 1fr;
  }

  #tribute-discography {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #daft-punk {
    width: 250px;
    height: 250px;
  }

  .album-cover {
    width: 250px;
    height: 250px;
  }
}
